#body {
    background-color: black!important;
    }

#userlist {
    background-image: url("");
    background-position: center bottom;
    background-repeat: no-repeat;
    border: 1px solid white!important;
    background-size: 130px;
}
